.instructor {
    margin-top: 25px;
}

.instructor .card {
    padding: 40px;
}

.instructor .form {
    width: 80%;
    margin: 30px auto 0;
}

.instructor-steps-form {
    border-radius: 14px;
    padding: 20px;
    border: 1px solid #3333331A;
    background-color: #F9F9F9;
    width: 80%;
    margin: 40px auto 0;
}

.instructor .form-step {
    display: none;
}

.instructor .form-step.active {
    display: block;
    transform-origin: top;
    animation: animate .5s;
}

.instructor .form-step .title h2 {
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    color: #0C2340;
}

.instructor .btn-next,
.instructor .btn-prev {
    color: #5B189B;
    background-color: #fff;
    border: 1px solid #5B189B;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding: 0 33px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.instructor .btn-complete {
    color: #fff;
    background-color: #5B189B;
    border: 1px solid #5B189B;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding: 0 33px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.instructor .btn-complete:hover {
    color: #5B189B;
    background-color: transparent;
    border: 1px solid #5B189B;
    transition: 0.3s;
}

.instructor .btn-next:hover,
.instructor .btn-prev:hover {
    color: #fff;
    background-color: #5B189B;
    border: 1px solid #5B189B;
    transition: 0.3s;
}

/* Button */
.instructor .btn-group {
    display: flex;
    justify-content: space-between;
}


.form-fields-box .form-group label {
    color: #656565;
    font-size: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.form-fields-box .form-group label span.required {
    color: #f00;
}

/* Progress bar */

.instructor .progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    counter-reset: step;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
}

.instructor .progress-bar::before,
.instructor .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 0;
}

.instructor .progress {
    background-color: #5B189B;
    width: 0;
    transition: .5s;
}

.instructor .progress-step {
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.instructor .form-fields-box {
    margin: 20px 0 40px;
}

.instructor .next-btn {
    text-align: end;
}

.instructor .progress-step.active {
    background-color: #5B189B;
    color: white;
    width: 25px;
    height: 25px;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* End Progress bar */

/* Add Experience Btn */
.instructor .form-fields-box .form-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.instructor .form-fields-box .form-group ul li label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
}

.instructor .form-fields-box .form-group ul li {
    margin-bottom: 5px;
}

.instructor .form-fields-box .field-bottom-space {
    padding-bottom: 20px;
}

.instructor .form-fields-box .form-group .radio-fields input[type="radio"] {
    width: 18px;
    height: 18px;
}

.instructor .form-fields-box .form-group .radio-fields label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
}

.instructor .form-fields-box .form-group .radio-fields {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 12px;
}

/* .instructor .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.20rem);
    font-size: 0.85rem;
    color: #000 !important;
    width: 40%;
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;
} */

.instructor .progress-step.active::after {
    color: #5B189B !important;
}

.instructor .multiple.dropdown {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    width: 100%;
    min-height: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #33333333;
    background-color: #FFF;
    outline: none;
}

.instructor .multiple.dropdown:focus {
    border: 1px solid #5B189B;
}

.instructor .ui.selection.active.dropdown {
    border-color: #5B189B;
}

.instructor .ui.selection.active.dropdown:hover .menu {
    border-color: #5B189B;
}

.instructor .ui.selection.active.dropdown .menu {
    border-color: #5B189B;
}

.instructor .ui.selection.dropdown:hover {
    border: 1px solid #33333333;
}

.instructor .ui.selection.active.dropdown:hover {
    border-color: #5B189B;
}

.instructor .ui.default.dropdown:not(.button)>.text,
.instructor .ui.dropdown:not(.button)>.default.text {
    color: #000;
}

.instructor .ui.selection.dropdown .menu>.item {
    border-top: none;
}

.instructor .ui.multiple.dropdown>.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    color: #000 !important;
    padding: 2px 8px;
    opacity: 1;
}

.instructor .big-title {
    margin-bottom: 12px;
}

.instructor .big-title h2 {
    font-size: 40px;
    line-height: 100%;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    color: #0C2340;
    text-align: center;
}

.instructor .payment-box .title h2 {
    text-align: start;
}

.instructor .form-fields-box .form-group input[type="file"] {
    padding: 0;
}

.instructor .form-fields-box .form-group input[type="file"]::file-selector-button {
    background-color: #5B189B;
    line-height: 45px;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 0px;
    height: 45px;
    padding: 0 15px;
}

.instructor .form-fields-box.mb-0 {
    margin-bottom: 0;
}

.instructor-info p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000;
    margin: 0 0 10px;
}

.instructor-info p:last-child {
    margin: 0;
}

.instructor-info {
    margin: 30px 0 40px;
}

.instructor-info p span {
    font-weight: 600;
}

.instructor-info .title h2 {
    text-align: start;
    margin-bottom: 20px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0 auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom: 22px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #5B189B;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    text-align: center;
    line-height: 32px;
    transition: 0.3s;
}

.avatar-upload .avatar-edit input+label i {
    color: #5B189B;
    transition: 0.3s;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #5B189B;
    border-color: #5B189B;
    transition: 0.3s;
}

.avatar-upload .avatar-edit input+label:hover i {
    color: #fff;
    transition: 0.3s;
}

/* .avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
} */

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #33333333;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.instructor .form-fields-box .form-group ul .terma-conditions-checkbox label {
    align-items: baseline;
}

.instructor .form-fields-box .form-group ul .terma-conditions-checkbox label .check-input {
    position: relative;
    top: 2px;
}

.instructor .form-fields-box .form-group ul .terma-conditions-checkbox label a {
    color: #333333CC;
    text-decoration: underline;
    transition: 0.3s;
}

.instructor .form-fields-box .form-group ul .terma-conditions-checkbox label a:hover {
    color: #5B189B;
    text-decoration: underline;
    transition: 0.3s;
}

.terms-modal .modal-custom-width {
    max-width: 1000px !important;
    position: relative;
}

.terms-modal .terms-list ul li {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: start;
    font-family: "Roboto", sans-serif;
    color: #333333CC;
    display: flex;
    align-items: baseline;
}

.terms-modal .text p {
    text-align: start;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 23px;
}

.list-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #5B189B;
    position: relative;
    top: -3px;
    margin: 0 10px 0 0;
}

.modal-close-btn button {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #000;
    border: 1px solid #5B189B;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    right: -15px;
    top: -15px;
    transition: 0.3s;
}

.modal-close-btn button:hover {
    color: #fff;
    border: 1px solid #5B189B;
    background-color: #5B189B;
}

.terms-icon {
    font-size: 36px;
    line-height: 18px;
    position: relative;
    top: -3px;
}

.term-sub-text span {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #000;
}

.term-sub-title h4 span {
    font-size: 34px;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    color: #0C2340;
    margin-right: 12px;
}

.term-content-card {
    padding: 30px 35px;
}

.term-sub-title h4 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    color: #0C2340;
}

.sub-head-icon {
    font-size: 20px !important;
    position: relative;
    top: -4px;
    margin-right: 0 !important;
}

.terms-list ul {
    padding-left: 35px;
}

.term-sub-title {
    margin-bottom: 10px;
}

.terms-content-box {
    margin-bottom: 25px;
}

.term-list-text {
    width: 95%;
}

.terms-content {
    overflow-x: auto;
    height: 650px;
}

.terms-content-box .text {
    padding-left: 35px;
}

.terms-foot-conent p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: start;
    font-family: "Roboto", sans-serif;
    color: #000;
}

.terms-foot-conent p a {
    color: #5B189B;
}

@media only screen and (max-width: 1366px) {
    .terms-content {
        height: 300px;
    }
}