.register .form {
    width: 80%;
    margin: 30px auto 0;
}

.register-steps-form {
    border-radius: 14px;
    padding: 20px;
    border: 1px solid #3333331A;
    background-color: #F9F9F9;
    width: 80%;
    margin: 40px auto 0;
}

.register .form-step {
    display: none;
}

.register .form-step.active {
    display: block;
    transform-origin: top;
    animation: animate .5s;
}

.register .form-step .title h2 {
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    color: #0C2340;
}

.register .btn-next,
.register .btn-prev {
    color: #5B189B;
    background-color: #fff;
    border: 1px solid #5B189B;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding: 0 33px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.register .btn-complete {
    color: #fff;
    background-color: #5B189B;
    border: 1px solid #5B189B;
    font-size: 16px; 
    font-family: "Inter", sans-serif;
    padding: 0 33px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.register .btn-complete:hover {
    color: #5B189B;
    background-color: transparent;
    border: 1px solid #5B189B;
    transition: 0.3s;
}

.register .btn-next:hover,
.register .btn-prev:hover {
    color: #fff;
    background-color: #5B189B;
    border: 1px solid #5B189B;
    transition: 0.3s;
}

/* Button */
.register .btn-group {
    display: flex;
    justify-content: space-between;
}


.form-fields-box .form-group label {
    color: #656565;
    font-size: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.form-fields-box .form-group label span.required {
    color: #f00;
}

/* Progress bar */

.register .progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
}

.register .progress-bar::before,
.register .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 0;
}

.register .progress {
    background-color: #5B189B;
    width: 0;
    transition: .5s;
}

.register .progress-step {
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.register .form-fields-box {
    margin: 20px 0 40px;
}

.register .next-btn {
    text-align: end;
}

.register .progress-step.active {
    background-color: #5B189B;
    color: white;
    width: 25px;
    height: 25px;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* End Progress bar */

/* Add Experience Btn */


.register .progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    counter-reset: step;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
}

/* .add-exp-btn {
    color: #577d4c;
    border-right: 2px solid #577d4c;
    border-bottom: 2px solid #577d4c;
    padding: 0 10px 10px 0;
    text-decoration: none;
    font-weight: 600;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.add-experience {
    margin-bottom: 20px;
} */

.register .form-fields-box .form-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.register .form-fields-box .form-group ul li label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
}

.register .form-fields-box .form-group ul li {
    margin-bottom: 5px;
}

.register .form-fields-box .field-bottom-space {
    padding-bottom: 20px;
}

.register .form-fields-box .form-group .radio-fields input[type="radio"] {
    width: 18px;
    height: 18px;
}

.register .form-fields-box .form-group .radio-fields label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
}

.register .form-fields-box .form-group .radio-fields {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 12px;
}

.register .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.20rem);
    font-size: 0.85rem;
    color: #000 !important;
    width: 40%;
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.register .progress-step.active::after {
    color: #5B189B !important;
}

.register .multiple.dropdown {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    width: 100%;
    min-height: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #33333333;
    background-color: #FFF;
    outline: none;
}

.register .multiple.dropdown:focus {
    border: 1px solid #5B189B;
}

.register .ui.selection.active.dropdown {
    border-color: #5B189B;
}

.register .ui.selection.active.dropdown:hover .menu {
    border-color: #5B189B;
}

.register .ui.selection.active.dropdown .menu {
    border-color: #5B189B;
}

.register .ui.selection.dropdown:hover {
    border: 1px solid #33333333;
}

.register .ui.selection.active.dropdown:hover {
    border-color: #5B189B;
}

.register .ui.default.dropdown:not(.button)>.text,
.register .ui.dropdown:not(.button)>.default.text {
    color: #000;
}

.register .ui.selection.dropdown .menu>.item {
    border-top: none;
}

.register .ui.multiple.dropdown>.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    color: #000 !important;
    padding: 2px 8px;
    opacity: 1;
}