<% include(`/${root}/emails/layouts/base`, { 
    subject: 'Course Payment Declined!',
    root: root,
    appName: appName,
    logoUrl: logoUrl,
    userName: userName,
    courses: courses,
    courseData,
    body: `<section style="max-width: 600px; margin: 0 auto; padding: 30px 0 0 0;">
        <div style="border: 1px solid #5B189B;">
          <div style="border-bottom: 1px solid #5b189b;text-align: center;background-color: #FFFFFF;padding: 17px 15px;">
            <a href="#" style="font-size: 28px;text-decoration: none;color:#000;font-weight: 600;font-family: 'Montserrat', sans-serif; display:inline-block;">
              <img src="${logoUrl}" alt="Logo" style="width: 80%;">
            </a>
          </div>
          <div style="max-width: 700px; margin: 0 auto;">
            <div style="font-family: 'Montserrat', sans-serif;padding: 30px;border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);font-size: 15px;line-height: 23px;">
              <p>Welcome aboard!</p>
              <p>Hi <strong>Dear ${userName},</strong></p>
              <p>Your course Payment got declined due to inavalid card.Please try another time to buy them</p>
              <p>Please find your courses below.</p>
             <table cellpadding="8" cellspacing="0" width="100%" border="1" style="border-collapse: collapse; font-family: 'Montserrat', sans-serif; font-size: 14px;">
                <thead style="background-color: #F3F3F3; color: #333;">
                <tr>
                    <th align="left">Sr No</th>
                    <th align="left">Course Image</th>
                    <th align="left">Course Name</th>
                    <th align="left">Price</th>
                    <th align="left">Status</th>
                </tr>
                </thead>
                <tbody>
                ${courseData}
              </tbody>
            </table>
              <p>If you have any questions or need assistance, feel free to reach out.</p>
              <p>Best regards,<br><strong>${process.env.APP_NAME}</strong></p>
              <p>Our contact email address<br><strong>support@practical-academy.com</strong></p>
            </div>
          </div>
          <div style="text-align: center; border-top: 1px solid #5b189b; background-color: #ffffff; padding: 15px 15px;">
            <p style="font-size: 14px; color:#5B189B; line-height: 18px; margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 400;">
              &copy; <strong>${new Date().getFullYear()} ${process.env.APP_NAME}. All rights reserved.</strong>
            </p>
          </div>
        </div>
      </section>
    `,
    unsubscribeLink: null
}) %>
